<section class="quotes">
    {{#each quotes}}
      <article class="quote-container">
          <h1 class="quote-name">{{this.author}}</h1>
          <p class="quote-text">{{this.text}}</p>
      </article>
      {{/each}}
      <a href="/randomquote"><button>Random quote</button></a>
</section>