<section class="quotes">
      <article class="quote-container">
          <h1 class="quote-name">{{author}}</h1>
          <p class="quote-text">{{text}}</p>
      </article>
      <a href="/quotes"><button>Quote overview</button></a>
</section>